<?xml version="1.0" encoding="windows-1252" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- MySQL DB running on localhost -->
    <property name="connection.url">jdbc:mysql://localhost/test</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1qaz@WSX</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Use the Hibernate built-in pool for tests. -->
    <property name="connection.pool_size">1</property>

    <!-- Show all SQL DML executed by Hibernate -->
    <property name="use_sql_comments">true</property>
    <property name="hibernate.format_sql">true</property>


    <!-- Mapping files -->
    <mapping class="inheritance.Customer"/>
    <mapping class="inheritance.Order"/>
    <mapping class="inheritance.Product"/>
    <mapping class="inheritance.OrderLine"/>

  </session-factory>
</hibernate-configuration>
